<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="App">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>src/Framework/Slim</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
