{% extends 'base.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            {% if error %}
                <h2>Invalid Mission!</h2>
                <span class="danger">{{ error }}</span>
            {% else %}
                <h1 class="app-color">Successful Mission! {{ explored_percentage }}% of the planet explored</h1>
                <h3>Rovers position after the mission:</h3>
                <br>
                <p>
                    {{ output | raw }}
                </p>
            {% endif %}

            <br>
            <br>
            <br>

            <p><a href="/start">Start a new mission</a></p>

        </div>
    </div>
{% endblock %}
