{% extends 'base.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-8">

            <p>Input the mission manually, OR upload a file.</p>

            <br>

            <form action="/start" id="planForm" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="plan">Manual input</label>
                    <textarea class="form-control" id="plan" name="plan" rows="10">5 5
1 2 N
LMLMLMLMM
3 3 E
MMRMMRMRRM</textarea>
                </div>
                <div class="form-group">
                    <label for="planFile">OR upload a file</label>
                    <input type="file" name="planFile">
                </div>

                <br>
                <br>
                <button type="submit" class="btn btn-default app-color">Run Mission!</button>
            </form>
        </div>
    </div>
{% endblock %}
